@use '../../styles/settings/container' as container;
@use '../../styles/settings/media' as mediaQuery;

.freeOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 0 27.5px;

  @include container.container;

  @include mediaQuery.responsive(small-tablet) {
    padding: 0 60px;
  }

  img {
    max-width: 100%;
  }
}
