@use '../../styles/settings/container' as container;

.freeOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 0 27.5px;

  @include container.container;

  img {
    max-width: 100%;
  }
}
