@use '../../styles/settings/container' as container;
@use '../../styles/settings/media' as mediaQuery;

.infrastructure {
  position: relative;

  @include container.flex-column;
  text-align: center;

  color: var(--color-white);
  padding: 0 33px 100px 33px;

  @include container.container;

  @include mediaQuery.responsive(large-mobile) {
    padding: 0 50px 100px 50px;
  }

  .background {
    position: absolute;
    overflow: hidden;

    background-image: linear-gradient(
      var(--color-grey-blue),
      var(--color-dark-grey-blue)
    );

    border-radius: 0 100px;
    inset: 19% 0 0;
    z-index: -99;

    @include mediaQuery.responsive(medium-mobile) {
      inset: 22.5% 0 0;
    }
  }

  .phone {
    max-width: 100%;

    @include mediaQuery.responsive(large-mobile) {
      max-width: 85%;
    }
    @include mediaQuery.responsive(small-tablet) {
      max-width: 65%;
    }
  }

  .circle {
    position: absolute;
    transform: translateY(-100px);
    top: -100px;
    left: -80px;
    max-width: 140%;
    z-index: -66;
  }

  .context {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: 3.75rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.6;
      font-weight: 300;

      @include mediaQuery.responsive(large-mobile) {
        font-size: 1.85rem;
      }
    }
  }
}
