@use '../../styles/settings/container' as container;

.infrastructure {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: var(--color-white);
  padding: 0 33px 100px 33px;

  @include container.container;

  .background {
    position: absolute;
    overflow: hidden;

    background-image: linear-gradient(
      var(--color-grey-blue),
      var(--color-dark-grey-blue)
    );

    border-radius: 0 100px;
    inset: 22.5% 0 0;
    z-index: -99;
  }

  .phone {
    max-width: 100%;
  }

  .circle {
    position: absolute;
    transform: translateY(-100px);
    top: -100px;
    left: -80px;
    max-width: 140%;
    z-index: -66;
  }

  .context {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: 3.75rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.6;
      font-weight: 300;
    }
  }
}
