@use '../../styles/settings/media' as mediaQuery;
@use '../../styles/settings/container' as container;

.contentPar-container {
  @include container.flex-column;

  text-align: center;
  gap: 15px;

  @include mediaQuery.responsive(small-laptop) {
    text-align: left;
    align-items: flex-start;
  }

  h3 {
    font-size: 2.75rem;
    color: var(--color-dark-grey-blue);

    @include mediaQuery.responsive(small-tablet) {
      font-size: 3rem;
    }
    @include mediaQuery.responsive(laptop) {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1.65rem;
    color: var(--color-very-dark-grayish-blue);
    line-height: 1.6;

    @include mediaQuery.responsive(small-tablet) {
      font-size: 1.85rem;
    }

    @include mediaQuery.responsive(laptop) {
      font-size: 1.6rem;
    }
  }
}
