@use '../../styles/settings/media' as mediaQuery;

.nav-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include mediaQuery.responsive(small-tablet) {
    padding: 0 10px;
  }

  button {
    background-color: transparent;
    border: none;

    @include mediaQuery.responsive(tablet) {
      display: none;
    }
  }

  img {
    max-width: 90px;

    @include mediaQuery.responsive(small-tablet) {
      max-width: 100%;
    }
  }
}
