@use '../../styles/settings/media' as mediaQuery;

.btn {
  background-color: var(--color-white);
  cursor: pointer;

  border: 1px solid var(--color-white);
  padding: 12.5px 22.5px;
  font-size: 1.3rem;
  font-family: var(--font-ubuntu);
  font-weight: 500;

  border-radius: 50px;
  color: var(--color-light-red);
  transition: all 0.4s;

  @include mediaQuery.responsive(medium-mobile) {
    font-size: 1.6rem;
  }

  @include mediaQuery.responsive(small-tablet) {
    font-size: 2rem;
  }

  @include mediaQuery.responsive(tablet) {
    font-size: 1.75rem;
  }

  &:hover {
    background-color: var(--color-very-light-red);
    border: 1px solid var(--color-very-light-red);
    color: var(--color-white);
  }
}
