:root {
  --color-light-red: rgb(255, 82, 93);
  --color-very-light-red: rgb(255, 122, 133);
  --color-very-dark-blue: rgb(31, 63, 91);

  --color-white: rgb(255, 255, 255);
  --color-grayish-blue: rgb(200, 200, 203);
  --color-very-dark-grayish-blue: rgb(75, 88, 98);
  --color-very-dark-blue: hsl(240, 10%, 16%);

  --color-light-orange-red: hsl(13, 100%, 72%);
  --color-dark-orange-red: rgb(255, 61, 84);

  --color-grey-blue: rgb(44, 45, 63);
  --color-dark-grey-blue: rgb(63, 65, 100);
}
